//color names provided by http://chir.ag/projects/name-that-color/
$white: darken(#fff, 12%);
$black: #03050b;
$color-primary: #3f51b5;
$color-secondary: #ff5252;
$color-mal: $color-secondary;
$color-ni: rgb(255, 152, 0);
$color-ben: rgb(76, 175, 80);
